<!DOCTYPE html>
<html lang="ja">
<head>
    <mata charset="utf-8">
    <title>メモ詳細</title>
</head>
<body>
    <h1>メモアプリ</h1>
        <form method="post" action="/">
            <p>タイトル</p>
            <input type="text" name="title" value="<%= h @title %>">
            <p>内容</p>
            <textarea name="content"><%= h @content %></textarea>
            <input type="submit" value="送信">
        </form>
</body>
</html>
