<!DOCTYPE html>
<html lang="ja">
<head>
    <mata charset="utf-8">
    <title>メモ詳細</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
    <header class="navbar has-background-primary-dark">
        <div class="navbar-brand">
            <a href="/" class="title m-2">メモアプリ</a>
        </div>
    </header>
    <main class="field m-4">
        <form method="post" action="/memos/<%= h @memo['id'] %>/edit">
            <input id="hidden" type="hidden" name="_method" value="patch">
            <p>タイトル</p>
            <input type="text" name="title" value="<%= h @memo['title'] %>" class="input">
            <p>内容</p>
            <textarea name="content" class="textarea"><%= h @memo['content'] %></textarea>
            <input type="submit" value="送信" class="button is-primary mt-4">
        </form>
    </main>
</body>
</html>
