<main class="content m-4">
    <div class="box">
        <p class="title is-5"><%= h @memo['title'] %></p>
        <p><%= h @memo['content'] %></p>
    </div>
    <div class="columns">
        <form method="post" action="/memos/<%= h @memo['id'] %>">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="削除" class="button is-danger m-4">
        </form>
        <a href="/memos/<%= h @memo['id'] %>/edit" class="button is-link m-4">編集</a>
    </div>
</main>
