<!DOCTYPE html>
<html lang="ja">
<head>
    <mata charset="utf-8">
    <title>メモ詳細</title>
</head>
<body>
    <h1>メモアプリ</h1>
    <%= h @memo['title'] %>
    <%= h @memo['content'] %>
    <form method="post" action="/memos/<%= h @memo['id'] %>">
        <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete!!">
    <a href="/memos/<%= h @memo['id'] %>/edit">編集</a>
</form>
</body>
</html>
