<main class="field m-4">
    <form method="post" action="/memos">
        <p>タイトル</p>
        <input type="text" name="title" class="input">
        <p>内容</p>
        <textarea name="content" class="textarea"></textarea>
        <input type="submit" value="送信" class="button is-primary mt-4">
    </form>
</main>
