<!DOCTYPE html>
<html lang="ja">
<head>
    <mata charset="utf-8">
    <title>メモ追加</title>
</head>
<body>
    <h1>メモアプリ</h1>
    <form method="post" action="/">
        <p>タイトル</p>
        <input type="text" name="title">
        <p>内容</p>
        <textarea name="content">
        <input type="submit" value="送信">
     </form>
</body>
</html>
