<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>top</title>
</head>
<body>
  <h1>メモアプリ</h1>
  <ul>
    <% @titles.each do |title| %>
    <li>
        <%= h title %>
    </li>
    <% end %>
  </ul>
</body>
</html>
